/* YUI CSS Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,nav,header,footer{margin:0;padding:0;} table{border-collapse:collapse;border-spacing:0;} fieldset,img{border:0;} address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;} ol,ul{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';} abbr,acronym{border:0;}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url("Raleway.woff") format('woff');
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font: 14px/22px "Helvetica Neue","Helvetica", Arial, sans-serif;
  background: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-color: rgb(31,31,31);
  background-position: 0 88px;
}

div.main {
  border: 2px solid transparent;
  position: absolute;
  top: 88px;
  bottom: 0;
  left: 0;
  right: 0;
}

div.main.drop {
  border: 2px solid yellow;
}

#header {
  text-align: center;
  height: 88px;
  background-color: rgb(247, 187, 17);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(247, 187, 17)), to(rgb(247, 187, 0)));
  background-image: -webkit-linear-gradient(top, rgb(247, 187, 17), rgb(247, 187, 0));
  background-image: -moz-linear-gradient(top, rgb(247, 187, 17), rgb(247, 187, 0));
  background-image: -ms-linear-gradient(top, rgb(247, 187, 17), rgb(247, 187, 0));
  background-image: -o-linear-gradient(top, rgb(247, 187, 17), rgb(247, 187, 0));
  background-image: linear-gradient(top, rgb(247, 187, 17), rgb(247, 187, 0));

}

.nav {
  height: 88px;
  padding: 14px;
}

.nav:before {
  content: "WiFi Upload";
  font-family: "Raleway", "Helvetica Neue";
  font-size: 36px;
  line-height: 60px;
}

.btn {
  display: inline-block;
  background-color: transparent;

  color: white;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 52px;

  text-align: center;
  padding: 0 12px;  
  height: 58px;
  min-width: 140px;
  cursor: pointer;  
}
.btn:hover{
  opacity: 0.5;
}
.btn:active{
  opacity: 0.25;
}

.linkBtn {
  float: left;
  width: 82px;
}
.linkBtn .icon {
  height: 60px;
  background-image: none;
  background-position: 36px 6px;
  background-repeat: no-repeat;
}
.uploadBtn {
  float: right;
  position: relative;
  overflow: hidden;
  font-family: "Helvetica Neue";
  font-weight: lighter;
  font-size: 54px;
}

#fileupload {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1000px !important;
  cursor: pointer;
}

.message {
  margin: 100px 0px;
}
.message h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  line-height: 60px;
}
.message p {
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.uploads li {
  height: 80px;
  padding: 0 20px;
  position: relative;
}
.uploads li:nth-child(2n) {
  background-color: rgba(0,0,0,0.2);
}
.uploads .filename {
  font-size: 20px;
  line-height: 50px;
  text-align: left;
}
.uploads .progress {
  height: 20px;
  border: 0px solid white;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: 2px;
}
.uploads .progress .barWrapper {
  position: absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background-color: rgb(42,42,42);
}
.uploads .progress .bar {
  background-color: white;
  position: absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  border-radius: 20px;
}

.uploads li.fail .progress .bar {
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

.uploads .progress .dots {
  padding: 0 8px;
  line-height: 0px;
  font-size: 20px;
  font-weight: bold;
  float: left;
  color: rgb(247, 187, 17);
}
.uploads .progress .dots:before {
  content: "uploading ";
  color: white;
  line-height: 12px;
  font-size: 12px;
}

.uploads li.fail .progress:before,
.uploads li.done .progress .bar:before {
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  padding: 0 12px;
  float: right;
}
.uploads li.fail .progress:before {
  content: "File transfer failed";
  color: rgb(247, 187, 17);
}
.uploads li.done .progress .bar:before {
  content: "File transfer complete";
  color: white;
}
.uploads li:hover .stop {
  display: block;
}
.uploads li.done:hover .stop,
.uploads li.fail:hover .stop {
  display: none;
}
.uploads .stop {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #ff3b30;

  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: none;
}
.uploads .stop:before {
  content: "-";
  font-size: 44px;
  text-align: center;
  line-height: 18px;
  width: 100%;
  padding-left: 4px;
}

#footer {
  font-size: .9em;
  line-height: 1.3em;
  margin-top: 40px;
  padding-bottom: 8px; 
  text-align: center;
  color: rgb(120, 120, 120);
  text-shadow: 1px 1px 2px black;
}
#footer a{
  color: rgb(247, 187, 17);
}

